<div class="card text-center">
  <div class="card-header">
    Flat details
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= @flat.name %> </h5>
    <p class="card-text"><%= @flat.description %> </p>
    <i class="fa-solid fa-people-roof"> </i> <%= @flat.number_of_guests %> </p>
    <p><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %> </p>
  </div>
</div>

<%= link_to "Back to flats", flats_path %>
